h1{
  text-align: center;
}

body{
  background-color: #473c39;
}

.pure-g{
  left:auto;
  width: 1000px;
}
.page{
  width: 1000px;
  background-color: #cfcccb;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.vis_container{
  width: 100%;
}

.description_left{
  padding-right: 20px;
}

.description_right{
  padding-left: 20px;
}

.description{
  margin-top: 0px;
}

.pure-g{
  margin-bottom: 25px;
}

.space_filler{
  margin-bottom: 140px
}