#symbol_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#time_series {
	top: 100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#bushfire_count {
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px
}

.combined_graph {
  height: 1000px;
  width: 800px;
}